@model IEnumerable<HospitalProject.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (User.Claims.ToList().Where(p => p.Value == "admin").SingleOrDefault() != null)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.departmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hospital.hospitalName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hospital.hospitalName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.departmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.departmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.departmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
